.icona-cinema{
    max-width: 100%;
    width: 220px;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-mostre {
    min-height: 445px;
}

.contenuto-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 445px;
    gap: 2rem;
    padding: 0 15px;
}

.sezione-sinistra {
    flex: 0 0 60%;
}

.sezione-destra {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titolo-cinema{
    margin: 0 0 1rem 0 !important;
    line-height: 1.1; 
}

.titoletto-cinema{
    margin: 0 !important;
    line-height: 1.2;
}

.sottotitolo-cinema{
    line-height: 1.2; 
}

.testo-cinema{
    line-height: 1.3; 
}

.underline {
    text-decoration: underline;
}

/* NUOVI STILI PER MOBILE */
@media (max-width: 1245px) {
    .header-mostre {
        min-height: 114px;
    }
    
    .contenuto-header {
        min-height: 114px;
    }
    
    .icona-cinema {
        height: 69px;
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    /* Nasconde la descrizione in mobile */
    .riga1-cinema .titoletto {
        display: none !important;
    }
    
    .sezione-destra {
        flex: 0 0 50%;
    }
    
    .sezione-sinistra {
        flex: 0 0 50%;
    }
    
    /* Rimuove spazi tra testi */
    .titolo {
        margin: 0 !important;
    }
    
    .sottotitolo {
        margin: 0 !important;
    }
    
    .underline {
        margin-top: 0.5rem !important;
        margin-bottom: 1rem !important;
    }
    
    /* Riduce padding del contenitore testo */
    .bg-grigio .d-flex {
        padding-top: 0 !important;
    }
    
    /* Riduce spazi tra le frasi di testo */
    .bg-grigio .sottotitolo {
        margin-bottom: 0.3rem !important;
        margin-top: 0 !important;
    }
    
    .bg-grigio br {
        display: none;
    }
    
    .bg-grigio .titolo {
        margin-top: 0.3rem !important;
        margin-bottom: 0.3rem !important;
    }
    
    .bg-grigio .underline {
        margin-top: 0.5rem !important;
    }
    
    .riga1-cinema {
        height: 114px;
        min-height: auto;
        padding: 0;
    }
    
    /* Riduce dimensione titolo e aggiunge padding in mobile */
    /* .riga1-cinema .titolo {
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    } */
    
    /* Riduce proporzionalmente i testi delle row 2-6 */
    /* .bg-grigio .titolo {
        font-size: 1.8rem;
        line-height: 1.1;
    }
    
    .bg-grigio .sottotitolo {
        font-size: 0.9rem;
    }
    
    .bg-grigio .underline {
        font-size: 0.9rem;
    } */
}

@media (max-width: 768px) {
/* Spazio tra immagine e prima frase in mobile */
    .bg-grigio img {
        margin-bottom: 1rem !important;
    }
}