
.box-sticky {
    position: sticky;
    top: 100px;
}


/* BOTTONE PRENOTA ROSSO */
.bottone-prenota {
    margin-top: 20px;
    background-color: #000000;
    display: inline-block;
    padding: 15px 20px;
    transition: background-color 0.2s ease;
    width: fit-content;
}
.bottone-prenota {
    text-decoration: none;
}
/* hover */
/* .bottone-prenota:hover {
    background-color: #ffffff; 
} */
.bottone-prenota:hover a {
    color: #ffffff;
}

.underline {
    text-decoration: underline;
}
