html {
    scroll-behavior: smooth;
}

.icona-visita {
    max-width: 322px;
    height: auto;
}

.riga1visita {
    display: flex;
    align-items: center;
    min-height: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.box-sticky {
    position: sticky;
    top: 100px;
}

.puntato {
    list-style-type: disc;
    padding-left: 20px;
}

.nav-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.nav-items{
    margin: 0;
    padding: 0;
    flex: 1;
}

.nav-link {
    color: #000000;
    border-bottom: solid 4px transparent;
    text-decoration: none;
    padding: 16px 24px;
    white-space: nowrap;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    height: 100%;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-list-container {
    position: sticky;
    top: 0; /* o il valore che preferisci, ad esempio top: 80px se vuoi lasciare spazio per l'header */
    z-index: 100; /* assicurati che stia sopra agli altri elementi */
}