.header-mostre {
    min-height: 445px;
}

.contenuto-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 445px;
    gap: 2rem;
    padding: 0 15px;
}

.sezione-sinistra {
    flex: 0 0 60%;
}

.sezione-destra {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titolo-cinema{
    margin: 0 0 1rem 0 !important;
    line-height: 1.2; 
}

.titoletto-cinema{
    margin: 0 !important;
    line-height: 27.5px;
}

.sottotitolo-cinema{
    line-height: 1.4; 
}

.testo-cinema{
    line-height: 22px; 
}
.underline {
    text-decoration: underline;
}
.icona-mostre{
    max-width: 100%;
    width: 322px;
    height: auto;
}

/* STILE SWIPER */
.bg-grigio:has(swiper-container) {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: auto;
}

.slide-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
}

.slide-info {
    background-color: #ffffff;
    padding: 1.5rem;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide-info .underline {
    margin-top: auto;
}