.icona-visita {
    max-width: 322px;
    height: auto;
}

.riga1visita {
    display: flex;
    align-items: center;
    min-height: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.box-sticky {
    position: sticky;
    top: 100px;
}

.puntato {
    list-style-type: disc;
    padding-left: 20px;
}