.riga1-educazione {
    min-height: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
}

h3{
    text-transform: uppercase;
}

.icona-educazione {
    max-width: 322px;
    height: auto;
}

.card-mostra {
    background-color: #ffffff;
    overflow: hidden;
    height: 100%;
}

.img-mostra {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.img-mostra img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-mostra {
    padding: 20px;
}

.bottone-scopridipiù a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.bottone-scopridipiù a:hover {
    background-color: #a580b8;
    color: #000000;
}

.box-ricerca{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filtr-item {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px;
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 768px)  {
    .filtr-item {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 1200px) {
    .filtr-item {
    flex: 0 0 auto;
    width: 33.32%;
  }
}