/* ----------------------GENERALI---------------------- */
body, html{
     margin: 0;
    padding: 0;
    background-color: #eaeaea;
    position: relative;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.h-100{
    height: 100% !important;
}

.w-100{
    width: 100% !important;
}

/* ----------------------STILI TESTO----------------------*/
body{
    font-family: 'Hanken Grotesk', Helvetica, Arial, sans-serif;
    color: black;
    font-weight: normal;
    line-height: 22px; 
    font-size: 18px;
}

.titolo {
    font-weight: 800;
    font-size: 68px;
    line-height: 60px;
}

.sottotitolo {
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
}

.titoletto {
    font-weight: 500;
    font-size: 25px;
    line-height: auto;
}

.voci {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    line-height: 22px;
    text-decoration: underline;
}




/* ----------------------COLORI SFONDO----------------------*/
.bg-giallo {
    background-color: #FFD34D; 
}

.bg-rosso {
    background-color: #ef7a61; 
}

.bg-viola {
    background-color: #a580b8; 
}

.bg-verde {
    background-color: #33af7b; 
}

.bg-rosa {
    background-color: #ff8ec8; 
}

.bg-azzurro {
    background-color: #89b8cf; 
}

.bg-grigio {
    background-color: #eaeaea; 
}

.bg-bianco {
    background-color: #ffffff; 
}

.bg-nero {
    background-color: #000000; 
}


/* COLORI TESTO */
.color-bianco {
    color: #ffffff; 
}

.color-rosso {
    color: #ef7a61; 
}

.color-verde {
    color: #33af7b; 
}

.color-rosa {
    color: #ff8ec8; 
}

.color-grigio-scuro {
    color: #535456; 
}


/* ----------------------STILE LINK---------------------- */
a.underline.hover-rosso:hover{
    text-decoration: underline;
    color: #ef7a61;
}

a.underline.hover-rosa:hover{
    text-decoration: underline;
    color: #ff8ec8;
}

a.underline.hover-verde:hover{
    text-decoration: underline;
    color: #33af7b;
}

a.underline.hover-giallo:hover{
    text-decoration: underline;
    color: #FFD34D;
}

a.underline.hover-viola:hover{
    text-decoration: underline;
    color: #a580b8;
}


/* ----------------------STILE HEADER---------------------- */

.margine-header {
    margin-top: 80px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.header .navlist{
    display: flex;
    gap: 50px;
}

.header .img-wrapper{
    /* width: 100%;
    height: auto; */
    /* padding: 20px; */
    padding-bottom: 0 !important;
}

.header .img-wrapper img{
    width: auto;
    height: calc(80px - 1rem);
    object-fit: contain;
}

.menu li{
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.voci-header .navlist{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.voci-header .blocco-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Dropdown transition for voci-header */
.voci-header {
    overflow: hidden;
    height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease; 
}
.voci-header.expanded {
    height: 300px;
    opacity: 1;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}
.elenco-voci{
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-decoration: underline;
}
.voci-header.collapsed{
    transition: color 0s;
}
.chiudi-header svg{
    transition: all 0.2s ease;
    fill: transparent;
    margin-bottom: -5px;
}
.open .chiudi-header svg{
    cursor: pointer;
    transform: rotate(90deg);
    fill: #000000;
}

.hamburger-icon{
    cursor: pointer;
    margin-bottom: -12px;
}

/* Fade transition for nav-* menus under voci-header */
.voci-header ul[class^="nav-"] {
  transition: opacity 0.3s;
  pointer-events: none;
}
.voci-header ul[class^="nav-"].d-flex {
  pointer-events: auto;
}
.voci-header ul[class^="nav-"].fade-in {
  opacity: 1;
  pointer-events: auto;
}
.voci-header ul[class^="nav-"].fade-out {
  opacity: 0;
  pointer-events: none;
}

/* colore sfondo voci header */
.voci-header:has(.nav-1.d-flex) {
    background-color: #ef7a61; 
}
.voci-header:has(.nav-2.d-flex) {
    background-color: #FFD34D; 
}
.voci-header:has(.nav-3.d-flex) {
    background-color: #a580b8; 
}
.voci-header:has(.nav-4.d-flex) {
    background-color: #33af7b; 
}
.voci-header:has(.nav-5.d-flex) {
    background-color: #ff8ec8; 
}

/* colore pulsanti header*/
.menu li::after {
    content: '';
    position: absolute;
    top: -15px;
    left: 0px;
    width: calc(100% + 30px);
    transform: translate(-15px);
    height: calc(100% + 15px + 1rem);
    background-color: transparent;
    transition: all 0.2s ease 0.1s;
    z-index: -1;
}
.menu .nav-1.selected::after {
    background-color: #ef7a61;
}
.menu .nav-2.selected::after {
    background-color: #FFD34D;
}
.menu .nav-3.selected::after {
    background-color: #a580b8;
}
.menu .nav-4.selected::after {
    background-color: #33af7b;
}
.menu .nav-5.selected::after {
    background-color: #ff8ec8;
}
.menu li:not(.selected)::after{
    transition: all 0s;
}
/* colore testo pulsanti header  */
.menu li{
    color: inherit;
    transition: color 0.15s 0.15s;
} 
.menu li.selected{
    color: #ffffff;
}

.social-icons-header {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 40px;
}

.social-link-header {
    display: inline-block;
    transition: opacity 0.3s;
}

.social-link-header:hover {
    opacity: 0.7;
}

.social-link-header img {
    width: 30px;
    height: 30px;
}

/* BOTTONE PRENOTA ROSSO */
.bottone-prenota {
    background-color: #000000;
    display: inline-block;
    padding: 15px 20px;
    transition: background-color 0.2s ease;
    width: fit-content;
}
.bottone-prenota a {
    color: #ffffff;
    text-decoration: none;
}
/* hover */
.bottone-prenota:hover a {
    background-color: #ffffff; 
}
.bottone-prenota:hover a {
    color: #000000;
}

.underline {
    text-decoration: underline;
}

/* ----------------------STILE FOOTER---------------------- */
.form-label{
    display: block;
    /* margin-bottom: 8px;
    font-weight: bold; */
}
.form-control, .form-select{
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 8px;
    border: 3px solid #ffffff;
    border-radius: 3px;
    font-size: 16px;
    background: #ffffff;
    transition: border-color 0.3s;
}
.form-control:focus{
    border-color: #ef7a61;
    outline: none;
}   

.email-wrapper {
    position: relative;
    width: 100%;
}

.email-wrapper .form-control {
    padding-right: 60px; /* Spazio per il bottone */
}

.email-wrapper .btn-submit {
    position: absolute;
    right: 5px;
    top: 20px;
    transform: translateY(-50%);
    background-color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-wrapper .btn-submit:hover {
    background-color: #ef7a61;
}

.email-wrapper .btn-submit svg {
    color: #000000;
    width: 20px;
    height: 20px;
}

.email-wrapper .btn-submit svg:hover {
    color: #ffffff;
    width: 20px;
    height: 20px;
}

.underline {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.social-link {
    display: inline-block;
    transition: opacity 0.3s;
}

.social-link:hover {
    opacity: 0.7;
}

.social-link img {
    width: 50px;
    height: 50px;
}
@media (max-width: 1200px) {
    /* ----------------------STILE ACCORDION---------------------- */

.accordion {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: -80px;
    z-index: 1000000000000;
    width: 100vw;
    height: calc(100vh + 80px);
    transition: opacity 0.1s ease;
}

.accordion.open {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.chiudi-accordion{
    position: absolute;
    top: 110px;
    right: 35px;
    cursor: pointer;
    z-index: 1000000000001;
    opacity: 0;
    transition: opacity 0.3s ease 0.3s;
}

.accordion.open .chiudi-accordion{
    opacity: 1;
}

.accordion-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(80px);
}

.accordion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.accordion-summary {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    padding-left: 15px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: color 0.2s;
    position: relative;
    z-index: 10;
}

.accordion-item.nav-1 .accordion-summary {
    background-color: #ef7a61;
    color: #000000;
}

.accordion-item.nav-2 .accordion-summary {
    background-color: #FFD34D;
    color: #000000;
}

.accordion-item.nav-3 .accordion-summary {
    background-color: #a580b8;
    color: #000000;
}

.accordion-item.nav-4 .accordion-summary {
    background-color: #33af7b;
    color: #000000;
}

.accordion-item.nav-5 .accordion-summary {
    background-color: #ff8ec8;
    color: #000000;
}

.accordion-summary:hover {
    color: #f0f0f0 !important;
}

.accordion-content {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);
    transition: max-height 0.15s ease-out, opacity 0.15s ease-out, transform 0.15s ease-out;
}

.accordion-item.open .accordion-content {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.accordion-content li {
    padding: 10px 15px;
    padding-left: 30px;
    border-bottom: 2px solid #eaeaea;
}

.accordion-content li:last-child {
    border-bottom: none;
}

.accordion-content a {
    text-decoration: none;
    color: #000000;
}

.nav-1 .accordion-content a:hover {
    color: #ef7a61;
}
.nav-2 .accordion-content a:hover {
    color: #FFD34D;
}
.nav-3 .accordion-content a:hover {
    color: #a580b8;
}
.nav-4 .accordion-content a:hover {
    color: #33af7b;
}
.nav-5 .accordion-content a:hover {
    color: #ff8ec8;
}

summary {
  list-style: none;
}

summary::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -6px;
  margin-right: 8px;
  margin-bottom: -7px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23000000'%3E%3Cpath d='M480-360 280-560h400L480-360Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-90deg); /* Start rotated left */
  transition: transform 0.3s;
  transition: filter 0.3s, transform 0.3s;
}

.accordion-summary:hover::before {
    filter: invert(1);
}

details.open summary::before {
  transform: rotate(0deg); /* Point down when open */
}

}
