.header-mostre {
    min-height: 445px;
}

.contenuto-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 445px;
    gap: 2rem;
    padding: 0 15px;
}

.sezione-sinistra {
    flex: 0 0 60%;
}

.sezione-destra {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titolo-cinema{
    margin: 0 0 1rem 0 !important;
    line-height: 1.2; 
}

.titoletto-cinema{
    margin: 0 !important;
    line-height: 27.5px;
}

.sottotitolo-cinema{
    line-height: 1.4; 
}

.testo-cinema{
    text-decoration: underline;
    line-height: 22px; 
}

.icona-cinema{
    max-width: 100%;
    width: 220px;
    height: auto;
}